
body, html, main {
    height: 99%;
}

#header {
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=80);
    -moz-opacity: 0.80;
    -khtml-opacity: 0.8;
    opacity: 0.8;
    /*Opacity end*/
    color: white;
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 99%;
    height: 3.125em;
    z-index: 99;
}

#header #header-content {
    margin: 0.625em;
}

.video {
  position: absolute; 
  top: 2%;
  left: 64%;
}

.collaboration {
  position: absolute;
  top: 2%;
  left: 84%;
}

.technical {
  position: absolute;
  top: 40.5%;
  left: 46.75%;
}

.contact {
  position: absolute;
  top: 1%;
  left: 46%;
}

.two_d {
  position: absolute; 
  top: 2%; 
  left: 4%;
}

.sculpture {
  position: absolute; 
  top: 2%; 
  left: 24%;
}

.grey { font-family: Futura, sans-serif; font-size: 1.30em; color:#858585; }
.small { font-family: Futura, sans-serif; font-size: 1.00em; color:#858585; }
.rose { font-family: Futura, sans-serif; color: #FF3399 }
.orange { font-family: Futura, sans-serif; color: #FF9900 }
.green { font-family: Futura, sans-serif; color: #66CC00 }
.white { font-family: Futura, sans-serif; color: #FFFFFF }
.blue { font-family: Futura, sans-serif; color: #00aeff }
.black {  font-family: Futura, sans-serif; color: #000000}
.red {  font-family: Futura, sans-serif; color: #FF0000}
.purple {  font-family: Futura, sans-serif; color: #8000FF}

.descrip {
	position: relative;
	float: left;
	top: 13%;
	left: 7%;
    width:85%;   
	text-decoration:none;
	font-size:1.188em;
	color:#FF3399;
}	

.background {
	min-height: 100%;
	background-size: cover;
	height: auto;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
    background-image: url("poppy_field_cut.jpg");
}

a, span.link {
  color: #FF3399;
  text-decoration: none;
}

a:visited, span.visited {
   color: #FF3399;
   text-decoration: none;
}

a:active, span.active {
   color: #FF3399;
   text-decoration: none;
}
