
.black {font-family: Futura, sans-serif; font-size: 0.938em; font-weight: normal; color: #000000}

.groupname {
    font-size: 1.250em;
    font-weight: bold;  
}

.left {
    float: left;
    margin-top: 5.000em;
    margin-left: 5%;
    margin-right: 3%;
}

.w50 {
    width: 40%;
}

.w100 {
    width: 80%;
}

object {
    float: left;
    margin-top: 2.188em;
    margin-left:5.000em;
    margin-right:3.750em;
    width: 35%;   
}