/*CSS Reset code*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



img {
    max-width: 100%;
}

h3 {
  color: red;
  font-size: 4.250em;
  font-family: Arial, Helvetica, sans-serif; font-weight: bolder;
}

.tall_left {
  width: 31.875em; height: 44.000em; 
  float: left;
  margin-left: 17.438em;
  margin-top: 5.000em;
}

.big_four {
  width: 55.000em; height: 40.500em; 
  position: relative;
  float: left;
  margin-left: 15em;
  margin-top: -0.625em;
}

.big_three {
  width: 38.125em; height: 30.000em; overflow: hidden;
  float: left;
  position: relative;
  left: 3.125em;
  left-margin: 2.813em auto;
  top: 2.500em;
}

#center_descrip {
  position: relative;
  float: center;
  top: 1.0em;
  left: -22%;
  width:60%;
  margin-left: 8.750em;
  margin-right: 18.750em;
  text-decoration:none;
  font-family: Futura, sans-serif;
  font-size:1.250em;
  color:#858585;
  word-wrap: break-word;
}

#left_descrip {
  position: relative;
  float: left;
  top: 3.0em;
  left: 1%;
  width:60%;
  margin-left: 2.750em;
  margin-right: 18.750em;
  margin-bottom: 7em;
  text-decoration:none;
  font-family: Futura, sans-serif;
  font-size:1.250em;
  color:#000000;
  word-wrap: break-word;
}

/*Scrolling backgrounds from below...
  http://codyhouse.co/gem/alternate-fixed-scroll-backgrounds 
  http://adamwhitcroft.com/batch/img/batch-background.png
*/

#slideshow {
    height: 12.500em;
    position: relative;
    overflow: hidden;
}

#slideshow > div {
    height: 12.500em;
    width: 206.250em;
    background-image: url(Diagonal.jpg);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    
    -moz-transition:  opacity 0.5s ease-out; 
    -o-transition: opacity 0.5s ease-out; 
    -webkit-transition: opacity 0.5s ease-out; 
    -ms-transition: opacity 0.5s ease-out; 
    -webkit-animation: moveSlideshow 60s linear infinite;
    -moz-animation:    moveSlideshow 60s linear infinite;
}

@-webkit-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -105.250em; }
}

@-moz-keyframes moveSlideshow {
    0% { left: 0; }
    100% { left: -105.250em; }
}

@-webkit-keyframes bgscroll {
  from {background-position:0 0;}
  to {background-position: 0 -32.500em;}
}
@-moz-keyframes bgscroll {
  from {background-position:0 0;}
  to {background-position: 0 -32.500em;}
}

.ani {
  background-image: url(Diagonal.jpg);
  color:#ecf2f9;
  text-align:center;
  padding-top: 6.250em;
  padding-bottom: 15.625em;
  -webkit-animation:bgscroll 20s infinite linear;
  -moz-animation:bgscroll 20s infinite linear;
}

.container {  
  margin: 0 auto;
  position: relative;
  padding: 2em;
  font-family: Arial, Helvetica, sans-serif; font-weight: bolder;
}

#slideshow {
    height: 12.500em;
    position: relative;
    overflow: hidden;
}
