body, html, main {
    height: 95%;
}

.rose { font-family: Futura, sans-serif; font-size: 1.300em; color: #FF3399 }
.orange { font-family: Futura, sans-serif; font-size: 1.300em; color: #FF9900 }
.small { font-family: Futura, sans-serif; font-size: 1.00em; color: #FF9900 }
.green { font-family: Futura, sans-serif; font-size: 1.300em; color: #66CC00 }
.white { font-family: Futura, sans-serif; font-size: 1.300em; color: #FFFFFF }
.blue { font-family: Futura, sans-serif; font-size: 1.300em; color: #00aeff }
.black {  font-family: Futura, sans-serif; font-size: 1.300em; color: #000000}
.red {  font-family: Futura, sans-serif; font-size: 1.300em; color: #FF0000}
.purple {  font-family: Futura, sans-serif; font-size: 1.300em; color: #8000FF}
 
.background {
  min-height: 100%;
  background-size: cover;
  height: auto;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-image: url(RGB_6.gif);
}

.video {
  position: absolute; 
  top: 91%;
  left: 64%;
}

.collaboration {
  position: absolute;
  top: 91%;
  left: 84%;
}

.name {
  position: absolute;
  top: 87%;
  left: 47%;
}

.technical {
  position: absolute;
  top: 94%;
  left: 46.75%;
}

.contact {
  position: absolute;
  top: 91%;
  left: 46%;
}

.two_d {
  position: absolute; 
  top: 91%; 
  left: 4%;
}

.sculpture {
  position: absolute; 
  top: 91%; 
  left: 24%;
}

/*following code concerning floating head from below...*/
/*http://jsfiddle.net/fE58b/19/*/

.head {
  margin: 0 auto;
  width: 34.375em;
  height: 34.375em;
  position: relative;
  overflow: hidden;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}

.head   { 
    position: relative; 
    width: 35.938em; 
    height: 35.938em; 
    margin: -37.500em 37.500em; 

  -webkit-animation-name: spin; 
  -webkit-animation-duration: 18000ms;
  -webkit-animation-iteration-count: infinite; 
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin; 
  -moz-animation-duration: 18000ms;
  -moz-animation-iteration-count: infinite; 
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin; 
  -ms-animation-duration: 18000ms;
  -ms-animation-iteration-count: infinite; 
  -ms-animation-timing-function: linear;
}

.head b {
  background: url("Matti_2.jpg") no-repeat; 
  position: absolute; 
  width: 2.500em;
  height: 2.500em;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: moveX 8s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate;
  -moz-animation: moveX 8s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate;
  -o-animation: moveX 8s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate;
  animation: moveX 8s linear 0s infinite alternate, moveY 7s linear 0s infinite alternate;
}

@-webkit-keyframes moveX {
  from { left: 0; } to { left: 25.000em; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 25.000em; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 25.000em; }
}
@keyframes moveX {
  from { left: 0; } to { left: 25.000em; }
}
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 25.000em; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 25.000em; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 25.000em; }
}
@keyframes moveY {
  from { top: 0; } to { top: 25.000em; }
}

