
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 0; padding: 0; border: 0; outline: none;
}


p{ line-height: 1em; }
h1, h2, h3, h4{
    color: orange;
	font-weight: normal;
	line-height: 1.1em;
	margin: 0 0 .5em 0;
}
h1{ font-size: 1.7em; }
h2{ font-size: 1.5em; }
a{
	color: black;
	text-decoration: none;
}
	a:hover,
	a:active{ text-decoration: underline; }

/* you can structure your code's white space so that it is as readable for when you come back in the future or for other people to read and edit quickly */

body{
    font-family: arial; font-size: 100%; line-height: 1.2em; width: 100%; margin: 0; background: #eee;
}
/* you can put your code all in one line like above */
#page{ margin: 3.125em;
       padding: 3.125em; 
 }

/* or on different lines like below */
#logo{
	width: 35%;
	margin-top: 0.313em;
	font-family: georgia;
	display: inline-block;
}
/* but try and be as concise as possible */
#nav{
	width: 60%;
	display: inline-block;
	text-align: right;
	float: right;
}
	#nav ul{}
		#nav ul li{
			display: inline-block;
			height: 5.250em;
		}
			#nav ul li a{
				padding: 1.875em;
				background: red;
				color: white;
			}
			#nav ul li a:hover{
				background-color: #ffb424;
				box-shadow: 0.000em 0.063em 0.063em #666;
			}
			#nav ul li a:active{ background-color: #ff8f00; }

#content{
	margin: 4.875em 0;
	margin-top: 30em;
	background: white;
	padding: 1.250em;
	clear: both;
}
#footer{
	text-align: right;
	float: right;
	position: fixed;
	bottom: 3em;
	border-bottom: 0.063em #ccc solid;
	margin-bottom: 0.625em;
	margin-left: 70%;

		float: right;
		text-align: right;
		text-transform: uppercase;
		font-size: 80%;
		color: gray;
	}

#content,
ul li a{ box-shadow: 0.000em 0.063em 0.063em #999; }
