body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td
{
margin: 4%; padding: 0; border: 0; outline: none; background-color: yellow;
}





@font-face{
    font-family: MyThirdFont;
    src: url(fonts/Exo-Regular.otf);

    font-family: MyScaryFont;
    src: url(fonts/pieces3_nfi.ttf);
}

#font {
  font-family: 'MyScaryFont;';
  font-size: 80px;
   padding: 20px;
}

#font1 {
  font-family: 'MyThirdFont;';
  font-size: 12px;
   padding: 20px;
}

#header h1 {
  font-family: 'MyScaryFont;';
  color: #fff;
  margin: 0;
  padding: 30px 10px 10px 200px;
  float: center;
  font-size: 80em;
  font-weight: normal;
  
}

#header h3 {
	font-family: 'MyThirdFont';
	color: #fff;
	font-size: 4em;
	font-weight: normal;
}
