#wrap {
  width: 980px;
  margin: 0 auto;
}

#header { 
  background: #c00;

}
#header h1 {
  color: #fff;
  margin: 0;
  padding: 30px 10px 10px 200px;

  font-size: 6em;
  font-weight: normal;
  
}

#content_area {
  clear: both;
  padding-top: 10px;
}
#content {
  float: left;
  width: 75%;
}
/*
#content h2, #content p {
  padding: 0 10px 0 55px;
}
*/
#content h2 {
  padding: 0 10px 0 140px;
  font-size: 3.0em;
  margin: 0;
}
#content p {
  padding: 0 10px 0 55px;
  font-size: 1.2em;
}
#sidebar {
  margin-left: 65%;
}
/*
#sidebar h3 {
  font-size: 1.6em;
  margin: 0;
}
*/
#sidebar li {
  font-size: 0em;
}

#floater  {
  float:left; 
  height:50%; 
  margin-bottom:-100px;
}

#content  {
  clear:both; 
  height:240px; 
  position:absolute;
}
.block {
  border: 1px solid #000;
  padding: 30px;
  margin: 10px;
  height: 180px;
}
#footer {
  clear: both;
  background: #aaa;
}
#footer p {
  padding: 10px 20px;
  color: #fff;
  font-size: 1.3em;
}
