
body {
	background-color:#000;
}

.container {
  padding-right: 0.938em;
  padding-left: 0.938em;
  margin-right: auto;
  margin-left: auto;
  font-family: Futura, sans-serif; font-size: 1.200em;
  margin-right: auto;
  margin-left: auto;
  min-width: 100%;
  background-size: cover;
  background-color: transparent;
  height: auto;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
    font-family: Futura, sans-serif; font-size: 1.10em; color: black;
    background-color: transparent;
    margin-bottom: 0px;
    margin-left: 10px;
    border: 0px;
}

.navbar li a {
    color: gray !important;
    margin-bottom: 0px;
}

.navbar li a:hover {
    color: red !important;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #282828  !important;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.dropdown>.dropdown-menu>.active>a {
    background-color: #282828  !important;
    margin-bottom: 0px;
}

.thumbnail {
	margin-bottom: 30px;
	padding: 0px;
	border: 0px;
	background-color: transparent;
}

a, span.link {
  color: #858585;
  text-decoration: none;
}

a:visited, span.visited {
   color: #858585;
   text-decoration: none;
}

a:active, span.active {
   color: #858585;
   text-decoration: none;
}

#descrip {
	position: relative;
	float: left;
	top: -0.5em;
    width:100%;
	text-decoration:none;
	font-family: Futura, sans-serif;
	font-size:1.0em;
	color:#858585;
}

