body {
  background-color: black;
}

.container {
  padding-right: 0.938em;
  padding-left: 0.938em;
  margin-right: auto;
  margin-left: auto;
  font-family: Futura, sans-serif; font-size: 1.200em;
  margin-right: auto;
  margin-left: auto;
  min-width: 100%;
  background-size: cover;
  background-color: transparent;
  height: auto;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
}

.navbar {
    background-color: transparent;
    margin-bottom: 0px;
    margin-left: 10px;
    border: 0px;
}

.navbar li a {
    color: gray !important;
    margin-bottom: 0px;
}

.navbar li a:hover {
    color: red !important;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.active>a {
    background-color: #282828  !important;
    margin-bottom: 0px;
}

.navbar-default .navbar-nav>.dropdown>.dropdown-menu>.active>a {
    background-color: #282828  !important;
    margin-bottom: 0px;
}

.thumbnail {
    position:relative;
    overflow:hidden;
    background-color: transparent;
    margin-top: 60px;
    padding: 0px;
    border: 0px;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    font-family: Futura, sans-serif; font-size: 0.7em; color:#858585;    
    vertical-align: middle;
    background-color: black;
    /*Opacity start*/
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    /*Opacity end*/
    color: white; 
    width:100%;
    height:100%;
    /*padding:2%;*/
    display: none;
    text-align:center;
    color:white !important;
    z-index:2;
}

